.dark-mode-toggle {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

.dark-mode-toggle:hover {
  border-color: #646cff;
}

.dark-mode .dark-mode-toggle {
  background-color: #f9f9f9;
  color: #213547;
}

.dark-mode .dark-mode-toggle:hover {
  border-color: #747bff;
}

.dark-mode-toggle:focus,
.dark-mode-toggle:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}